.post-containers {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9da2c8;
}
.title-field {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}
input[type='text'] {
  padding: 10px;
  width: 530px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
textarea {
  padding: 10px;
  width: 530px;
  border: 1px solid #ccc;
  border-radius: 25px;
  height: 160px;
}
.submit-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  cursor: pointer;
}
.submit-button {
  padding: 10px 25px;
  background-color: #3b283f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #a577c2;
  color: #000;
  transition: 0.3s ease-in-out;
}
